<script lang="ts" setup>
import { onMounted, reactive, ref, watch } from "vue";
import fakerData from "@/utils/faker";
import Button from "@/base-components/Button";
import {
  FormInput,
  FormLabel,
  FormSelect,
  FormTextarea,
} from "@/base-components/Form";
import Lucide from "@/base-components/Lucide";
import { Menu, Tab, Dialog } from "@/base-components/Headless";
import { ICreateInvoice, ICustomer, ICustomerInput } from "@/_helper/types-api";
import TomSelect from "@/base-components/TomSelect";
import fetchWrapper from "@/utils/axios/fetch-wrapper";
import Litepicker from "@/base-components/Litepicker";
import { toast } from "vue3-toastify";
import { WindowScrollController } from "@fullcalendar/vue3";

const props = defineProps({
  newOrderModal: Boolean,
});
const emit = defineEmits<{
  (e: "close", value: boolean): void;
  (e: "update"): void;
}>();

const dateToString = (date: any) => {
  return date.toISOString().split("T")[0];
};

const stringToDate = (str: any) => {
  return new Date(str);
};

const customerList = ref<ICustomer[]>([]);
const chooseCustomer = reactive<ICreateInvoice>({
  customerCode: "" as string,
});
const createCustomer = ref<ICustomerInput>({
  customerDOB: new Date(),
  customerName: "",
  customerAddress: "",
  customerEmail: "",
  customerContact: 0,
  customerGender: "",
});

const litePikcerDate = ref("");
const handleDateChange = (value: any) => {
  createCustomer.value.customerDOB = new Date(value);
};

const getData = async (keyword: any) => {
  try {
    const response = await fetchWrapper.get("pos/customer-list", { keyword });
    customerList.value = response as ICustomer[];
    list.value = response.map((item: any) => {
      return {
        value: `${item.customerCode}`,
        label: `${item.customerName} - ${item.customerCode}`,
      };
    });
  } catch (error) {}
};

const tabs = ref([
  {
    title: "Pilih Customer",
    key: "choose",
  },
  {
    title: "Tambah Customer",
    key: "create",
  },
]);
const activeTab = ref("choose");
const createTicketRef = ref(null);

const setNewOrderModal = () => {
  emit("close", false);
  activeTab.value = "choose";
  chooseCustomer.customerCode = "";
};

interface ListItem {
  value: string;
  label: string;
}

const list = ref<ListItem[]>([]);
const options = ref<ListItem[]>([]);
const value = ref<string[]>([]);
const loading = ref(false);

const remoteMethod = async (query: string) => {
  await getData(query);

  if (query) {
    loading.value = true;

    setTimeout(() => {
      loading.value = false;
      options.value = list.value.filter((item) => {
        return item.label.toLowerCase().includes(query.toLowerCase());
      });
    }, 200);
  } else {
    options.value = [];
  }
};

const saveData = async () => {
  if (activeTab.value === "choose") {
    try {
      const response = await fetchWrapper.post("transaction", chooseCustomer);
      toast.success(response.message);
      emit("close", false);
      localStorage.setItem("paymentCreated", JSON.stringify(response));

      setTimeout(() => {
        window.location.reload();
      }, 2000);
    } catch (error: any) {
      try {
        if (chooseCustomer.customerCode == "") {
          toast.error("Nama Tidak boleh kosong");
        } else {
          const customer = await fetchWrapper.post("customer", {
            customerName: chooseCustomer.customerCode,
          });
          const response = await fetchWrapper.post("transaction", {
            customerCode: customer?.detail?.customerCode,
          });
          toast.success(response.message);
          emit("close", false);
          emit("update");
          localStorage.setItem("paymentCreated", JSON.stringify(response));

          setTimeout(() => {
            window.location.reload();
          }, 2000);
        }
      } catch (error: any) {
        toast.error(error.response?.data.message);
      }
    }
  } else {
    try {
      const customer = await fetchWrapper.post(
        "customer",
        createCustomer.value
      );
      const response = await fetchWrapper.post("transaction", {
        customerCode: customer?.detail?.customerCode,
      });
      toast.success(response.message);
      emit("close", false);
      emit("update");
      localStorage.setItem("paymentCreated", JSON.stringify(response));

      setTimeout(() => {
        window.location.reload();
      }, 2000);
    } catch (error: any) {
      toast.error(error.response?.data.message);
    }
  }
};
</script>

<template>
  <Dialog
    :open="props.newOrderModal"
    size="lg"
    @close="setNewOrderModal"
    :initialFocus="createTicketRef"
  >
    <Dialog.Panel>
      <Dialog.Title>
        <h2 class="mr-auto text-base font-medium">Pesanan Baru</h2>
      </Dialog.Title>
      <!-- <Dialog.Description class="flex gap-3 max-h-96 overflow-auto"> -->
      <Dialog.Description>
        <div class="!box">
          <el-select
            v-model="chooseCustomer.customerCode"
            class="w-full"
            filterable
            allow-create
            remote
            reserve-keyword
            placeholder="Tuliskan Nama Pelanggan ..."
            :remote-method="remoteMethod"
            :loading="loading"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="`${item.label}`"
              :value="item.value"
            />
          </el-select>
        </div>
      </Dialog.Description>
      <Dialog.Footer class="text-right">
        <Button
          variant="outline-secondary"
          type="button"
          @click="setNewOrderModal"
          class="w-32 mr-1"
        >
          Batal
        </Button>
        <Button
          @click="saveData"
          variant="primary"
          type="button"
          class="w-32"
          ref="createTicketRef"
        >
          Buat Pesanan
        </Button>
      </Dialog.Footer>
    </Dialog.Panel>
  </Dialog>
</template>

<style>
.tom-select.ts-wrapper .ts-control {
  border: 1px !important;
}
</style>
